<p id="notice"><%= notice %></p>

<h1>Repuestos</h1>

<table>
  <thead>
    <tr>
      <th>Articulo</th>
      <th>Precio</th>
      <th>Id interna</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repuestos.each do |repuesto| %>
      <tr>
        <td><%= repuesto.articulo %></td>
        <td><%= repuesto.precio %></td>
        <td><%= repuesto.id_interna %></td>
        <td><%= repuesto.descripcion %></td>
        <td><%= link_to 'Show', repuesto %></td>
        <td><%= link_to 'Edit', edit_repuesto_path(repuesto) %></td>
        <td><%= link_to 'Destroy', repuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repuesto', new_repuesto_path %>
