<p id="notice"><%= notice %></p>

<div class="row borde shadow-lg p-3 mb-5 bg-white rounded">
  <div class="col-md-12">
    <h1>Repuestos</h1>
    <%= link_to 'Nuevo Repuesto', new_repuesto_path, :class => "btn btn-primary" %>
    <div class="table-responsive">    
      <table class="table">
        <thead>
          <tr>
            <th>Articulo</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @repuestos.order("articulo").each do |repuesto| %>
            <tr>
              <td><%= repuesto.articulo %></td>
              <td><%= repuesto.precio %></td>
              <td><%= repuesto.descripcion %></td>
              <!--
              <td><%= link_to 'Show', repuesto %></td>
              -->
              <td><%= link_to 'Editar', edit_repuesto_path(repuesto) %></td>
              <td><%= link_to 'Eliminar', repuesto, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

