<div class="container-fluid override">
  <div class="row">
    <div class="col-md-7">
	  <%= bootstrap_form_tag url: "/apis/cotizacion" do |f| %>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <h1> Nueva cotizaci처n </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= f.text_field :cliente %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :rut %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :direccion %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <%= f.text_field :contacto %>
        </div>
        <div class="col-md-5">
          <%= f.text_field :mail %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :direccion_despacho, label: "Direcci처n de despacho" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.date_field :fecha_emision, value: Date.today, label: "Fecha de entrega" %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :plazo_entrega, value: "2 semanas", label: "Plazo de entrega" %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :forma_pago, value: "Con la orden", label: "Forma de pago" %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :duracion_trabajo %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <%= f.select :repuesto, options_for_select(Repuesto.get_repuestos), {}, class: "repuestos", style: "width: 100%;" %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :cantidad, value: "1", min: "1" %>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label> <br> </label>
            <%= f.submit "Agregar", onclick: "javascript:addItem()", type: "button", class: 'btn btn-primary', style: "width: 100%"%>
          </div>
        </div>
        <%= f.hidden_field :repuestos, value: "[]"%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th>Articulo</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="dynamic-list">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.select :peso_total, options_for_select([["20 kg", 20], ["40 kg", 40], ["60 kg", 60]]) %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :numero_cotizacion, min: 1, label: "N째 Cotizaci처n" %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :euro, value: "790" %>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> <br> </label>
            <%= f.submit "Crear cotizacion", class: 'btn btn-primary', style: "width: 100%" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>