<p id="notice"><%= notice %></p>
<div class="row borde shadow-lg p-3 mb-5 bg-white rounded">
  <div class="col-md-12">
    <p>
      <strong>Articulo:</strong>
      <%= @repuesto.articulo %>
    </p>

    <p>
      <strong>Precio:</strong>
      <%= @repuesto.precio %>
    </p>

    <p>
      <strong>Id interna:</strong>
      <%= @repuesto.id_interna %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @repuesto.descripcion %>
    </p>

    <%= link_to 'Editar', edit_repuesto_path(@repuesto) %> |
    <%= link_to 'Volver', repuestos_path %>
  </div>
</div>